/* Navbar */

.nav {
margin: 0.5rem 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.2s ease-in-out;
}

.logo {
  color: #a367b1;
font-family: "Inter-BoldItalic", Helvetica;
font-size: 24px;
font-style: italic;
font-weight: 700;
letter-spacing: -0.55px;
text-decoration: none; 
}

.logo a {
   color: #a367b1;
    text-decoration: none;
}

.navbar {
    padding: 0.5rem 2rem;
    display: flex;
    gap: 1rem;
    align-items: center;
}

.nav-link {
color: #0C2D48;
font-family: "Satoshi-Regular", Helvetica;
font-size: 15px;
font-style: normal;
font-weight: 400;
text-decoration: none;
}